*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.jpg
*.png
*.aar
app/src/main/assets
**/*/res/values/secrets.xml
